.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.font {
    height: 100%;
    width: 100%;
    position: fixed;
}

.font_first {
    height: 100%;
    width: 60%;
    position: sticky;
    left: 20%;
    border-radius: 10px;
    border: solid;
    text-align: center;
    margin-bottom: 3%;
}

.title {
    position:absolute;
    top:10%;
    left: 40%;
    z-index:1;
    font-size: 400%;
    color: #8E736D;
}

.title_compte {
    position:absolute;
    top:5%;
    left: 45%;
    z-index:1;
    font-size: 400%;
    color: #8E736D;
}

.compte {
    color: #F5DEB3;
}

.centere_texte {
    position: absolute;
    top: 40%;
    width: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rabbit {
    width:100%;
    height:100%;
    object-fit:cover;
}

.dragon_font {
    width : 100vw;
    height : 100vh;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    mix-blend-mode: multiply;
}

.dragon {
    width:80px;
    position: absolute;
    left: 45%;
    padding-top: 20px;
}

.dragon_login {
    width:80px;
    position: absolute;
    left: 45%;
    top:10%;
    padding-top: 20px;
}

.Persona {
    top: 30%;
    left: 15%;
    width: 70%;
    position:absolute;
}

.button {
    left: 50%;
}
